.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  box-sizing: border-box;
}

.App-Content {
  height: 200px;
}

.input-list {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.input-group {
  display: flex;
  align-items: center;
}

input[type='number'] {
  margin-right: 4px;
}

.button-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

button {
  cursor: pointer;
  width: 20%;
  text-align: center;
  font-weight: bold;
}

hr {
  margin: 16px 0;
}

.input-result {
  display: flex;
  justify-content: space-between;
}
